@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #232323;
}

.main {
    width: 70rem;
    height: 40rem;
    background: #222222;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.5), -0.5rem -0.5rem 1rem rgba(255, 255, 255, 0.05);
    border-radius: 2rem;
    margin: 3rem;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 1.5rem 0;
    padding: 1rem;
}

.left{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.start-screen>.left>.top {
    font-size: 1.6rem;
    color: #fafafa;
}

.top>h1{
    text-align: center;
}

.left>.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.left>.bottom > .blobs{
    display: flex;

    margin-bottom: 1rem;
}

.resume > .blob{
    background: gray!important;
}

.left>.bottom > .blobs>.blob{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background: #ddd;
    border-radius: .4rem;
    margin: .3rem;
    font-size: 1.3rem;
    font-weight: 900;
    box-shadow: inset .5rem .5rem 1rem rgba(0, 0, 0, .5);
    transition: all .2s ease;
}

.blobs>.blob:hover{
    /* transform: scale(1.2); */
    font-size: 1.7rem!important;
    text-shadow: .4rem .4rem .3rem rgba(0, 0, 0, .5);
}


button {
    background: #fff;
    border-radius: 1rem;
    width: 23rem;
    height: 6rem;
    margin: 1rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
}

.right{
    width: 40%;
}

.high-score{
    height: 100%;
    text-align: center;
    margin: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.high-score>.htext{
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.high-score>.hscore{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.high-score>.hscore1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.high-score>.hscore2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.main>.game{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.game>canvas{
    border-radius: 2rem;
}




#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 2rem; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    border-radius: 1.5rem;
    font-size: 1.7rem;
    min-height: 4rem;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }